<div
  class="flex flex-row max-w-[600px] w-full items-center rounded-lg justify-between gap-5 px-4 py-2 mb-1 bg-gradient-to-b from-white to-transparent"
>
  @if (serviceRequest()?.typeVehicle === "Van"){
  <img class="w-40 h-32" src="renders/van-render.png" alt="" />
  } @if (serviceRequest()?.typeVehicle === "Bus"){
  <img class="w-40 h-32" src="renders/bus-render.png" alt="" />
  } @if (serviceRequest()?.typeVehicle === "Car"){
  <img class="w-40 h-32" src="renders/automovil-render.png" alt="" />
  }
  <div class="flex w-full flex-row gap-2 justify-center">
    <div class="flex flex-col gap-3">
      <h2 class="text-xl font-semibold">
        {{ serviceRequest()?.nameReference }}
      </h2>

      <p><b>Fecha:</b> {{ serviceRequest()?.date }}</p>

      <div class="flex flex-row text-sm w-full gap-2 justify-between">
        <span class="text-gray-500"
          ><b>Origen:</b> {{ serviceRequest()?.originAdress }}</span
        >
        <span class="text-gray-500"
          ><b>Destino:</b> {{ serviceRequest()?.destinationAddress }}</span
        >
      </div>

      <a
        class="px-4 py-2 text-center w-full bg-black text-white rounded-lg hover:bg-black/80 transition duration-300 ease-in-out flex items-center justify-center gap-2"
        [routerLink]="['/dashboard/services/show/', serviceRequest()?.id]"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-5 h-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.458 12C3.732 7.943 7.523 5 12 5c4.477 0 8.268 2.943 9.542 7-.274.857-.676 1.662-1.186 2.385M2.458 12a11.954 11.954 0 001.186 2.385M2.458 12H2.45M21.542 12h.008M12 19c-4.477 0-8.268-2.943-9.542-7"
          />
        </svg>
        Revisar
      </a>
    </div>
  </div>
</div>
