<div
  class="flex flex-row max-w-[600px] w-full items-center rounded-lg justify-between gap-5 px-4 py-2 mb-1 bg-gradient-to-b from-white to-transparent"
>
  <div class="flex flex-col items-center gap-2.5">
    <span class="w-full flex justify-center items-center">
      @if (serviceRequest()?.typeVehicle === "Van"){
      <img
        class="w-40 object-contain h-32 aspect-square"
        src="renders/van-render.png"
        alt=""
      />
      } @if (serviceRequest()?.typeVehicle === "Bus"){
      <img
        class="w-40 object-contain h-32 aspect-square"
        src="renders/bus-render.png"
        alt=""
      />
      } @if (serviceRequest()?.typeVehicle === "Car"){
      <img
        class="w-40 object-contain h-32 aspect-square"
        src="renders/automovil-render.png"
        alt=""
      />
      }
    </span>

    <app-service-request-rating [ratings]="serviceRequest()?.ratings || 0" />
  </div>
  <div class="flex w-full flex-row gap-2 justify-center">
    <div class="flex flex-col gap-3">
      <h2 class="text-xl font-semibold">
        {{ serviceRequest()?.nameReference }}
      </h2>

      <p><b>Fecha:</b> {{ serviceRequest()?.date }}</p>

      <div class="flex flex-row text-sm w-full gap-2 justify-between">
        <span class="text-gray-500"
          ><b>Origen:</b> {{ serviceRequest()?.originAdress }}</span
        >
        <span class="text-gray-500"
          ><b>Destino:</b> {{ serviceRequest()?.destinationAddress }}</span
        >
      </div>

      <a
        class="px-4 py-2 text-center w-full bg-black text-white rounded-lg hover:bg-black/80 transition duration-300 ease-in-out flex items-center justify-center gap-2"
        [routerLink]="['/dashboard/services/show/', serviceRequest()?.id]"
      >
        <span>
          <app-view-icon />
        </span>
        <span>Revisar</span>
      </a>
    </div>
  </div>
</div>
