<nav class="bg-white w-full h-full flex flex-col">
  <div class="">
    <div
      class="flex items-center h-20 bg-gradient-to-bl from-blue-600 to-blue-400 text-white"
    >
      <h1 class="mx-3 text-5xl font-bold">IzyTracking</h1>
    </div>
  </div>
  <ul>
    <li class="overflow-hidden hover:bg-black/10">
      <a
        [routerLink]="['services']"
        class="w-full block py-4 hover:translate-x-3 px-6 transition"
        href=""
        >Servicios</a
      >
    </li>
    <li class="overflow-hidden hover:bg-black/10">
      <a
        [routerLink]="['history']"
        class="w-full block py-4 hover:translate-x-3 px-6 transition"
        href=""
        >Historial</a
      >
    </li>
    <li class="overflow-hidden hover:bg-black/10">
      <a
        [routerLink]="['vehicles']"
        class="w-full block py-4 hover:translate-x-3 px-6 transition"
        href=""
        >Vehiculos</a
      >
    </li>
    <li class="overflow-hidden hover:bg-black/10">
      <a
        [routerLink]="['guides']"
        class="w-full block py-4 hover:translate-x-3 px-6 transition"
        href=""
        >Guias</a
      >
    </li>
    <li class="overflow-hidden hover:bg-black/10">
      <a
        [routerLink]="['tariffs']"
        class="w-full block py-4 hover:translate-x-3 px-6 transition"
        href=""
        >Tarifas</a
      >
    </li>
    <li class="overflow-hidden hover:bg-black/10">
      <a
        [routerLink]="['billing']"
        class="w-full block py-4 hover:translate-x-3 px-6 transition"
        href=""
        >Facturas</a
      >
    </li>
    <li class="overflow-hidden hover:bg-red-500/10">
      <a
        [routerLink]="['auth/sign-in']"
        class="w-full block py-4 hover:translate-x-3 px-6 transition"
        href=""
        >Salir</a
      >
    </li>
  </ul>
</nav>
