<div class="grid grid-cols-2 gap-2 mx-3">
    <div class="">

    </div>
    <div class="flex flex-col items-center justify-center gap-3">
        <div class="w-full h-full">
            <google-map height="400px" width="100%" [options]="mapOptions">
                <map-marker [position]="originCenter"></map-marker>
                <map-polyline [path]="polylinePath"></map-polyline>
                <map-marker [position]="destinationCenter"></map-marker>
            </google-map>
        </div>
        <hr class="w-full border-gray-300">
        <div class="flex flex-col w-full">
            <h2 class="text-lg font-semibold">Detalles del servicio</h2>
            <div class="flex flex-col gap-2">
                <p class="text-gray-600">Origen: {{ originAddress }}</p>
                <p class="text-gray-600">Destino: {{ destinationAddress }}</p>
                <p class="text-gray-600">Fecha: {{ serviceDate | date: 'shortDate' }}</p>
                <p class="text-gray-600">Hora: {{ serviceTime | date: 'shortTime' }}</p>
            </div>
        </div>
    </div>
</div>