<div class="px-10 py-5">
  <main class="flex flex-col gap-3 mb-6">
    <h2 class="text-4xl text-center mb-5">
      Bienvenido a <span class="font-bold">IzyTracking</span>.
    </h2>

    <p class="text-pretty text-lg text-center mb-5">
      <b>IzyTracking</b> es la plataforma ideal para gestionar la logística de
      tus viajes de manera eficiente. Proporciona tus datos para poder acceder
      al panel de control.
    </p>
  </main>
  <router-outlet></router-outlet>

  <footer class="">
    <p class="text-center text-gray-500 text-sm mt-5">
      © 2023 IzyTracking. Todos los derechos reservados.
    </p>
  </footer>
</div>
