<div class="w-full px-10 h-full flex flex-col gap-5">
  <h1 class="text-4xl font-semibold">Solicitudes de Servicios</h1>
  <div
    class="max-h-[400px] rounded-lg h-full bg-gradient-to-b from-gray-200 to-transparent flex flex-col justify-between"
  >
    <app-recent-service-request></app-recent-service-request>
  </div>

  <div class="overflow-x-auto mt-5 px-6 pb-2 py-4 bg-white rounded-xl">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-2xl font-semibold flex gap-3.5 items-center">
        <span> Lista de Servicios </span>
        <button
          class="ml-2 hover:scale-105 px-3 py-2 rounded-lg transition duration-300 ease-in-out gap-3 bg-gradient-to-tl from-black to-[200%] to-white text-white flex items-center cursor-pointer"
        >
          <span class="text-base">Actualizar</span>
          <span>
            <app-refresh-icon />
          </span>
        </button>
      </h2>
      <div class="flex items-center gap-2">
        <div class="flex items-center border-b rounded-lg rounded-b-none">
          <input
            type="text"
            placeholder="Buscar..."
            class="px-4 py-2 min-w-sm focus:outline-none"
          />
          <button class="px-2">
            <app-search-icon />
          </button>
        </div>
      </div>
    </div>
    <div class="flex justify-center">
      <table class="w-full mt-5 bg-white rounded-xl">
        <thead class="text-gray-600 text-sm uppercase font-semibold">
          <tr>
            <th class="px-6 py-3 text-center"></th>
            <th class="px-6 py-3 text-center">Referencia</th>
            <th class="px-6 py-3 text-center">Estado</th>
            <th class="px-6 py-3 text-center">Fecha</th>
            <th class="px-6 py-3 text-center">Acciones</th>
          </tr>
        </thead>
        <tbody class="text-gray-600 text-base">
          <tr class="border-b border-gray-200 text-center">
            <td
              class="px-6 py-6 whitespace-nowrap group overflow-hidden to-white"
            >
              <div class="bg-radial from-gray-400/90 rounded-lg">
                <img
                  class="w-36 -translate-6 group-hover:translate-2 scale-150 transition aspect-square mx-auto"
                  src="renders/automovil-render.png"
                  alt=""
                />
              </div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">Servicio 1</td>
            <td class="px-6 py-4 whitespace-nowrap">Pendiente</td>
            <td class="px-6 py-4 whitespace-nowrap">2023/10/01</td>
            <td
              class="px-6 py-4 whitespace-nowrap flex flex-row gap-4 justify-center h-[200px] items-center"
            >
              <a
                [routerLink]="['show/1']"
                class="text-white cursor-pointer rounded-lg font-semibold bg-black px-5 py-2 text-base hover:bg-black/80 transition shadow"
              >
                Revisar
              </a>
              <button
                class="text-black outline shadow text-base hover:bg-gray-300 cursor-pointer rounded-lg font-semibold px-5 py-2 hover:brightness-110 transition"
              >
                Cancelar
              </button>
            </td>
          </tr>
          <!-- Repeat rows as needed -->
        </tbody>
      </table>
    </div>
  </div>
</div>
