<div class="w-full px-10 h-full flex flex-col gap-5">
  <h1 class="text-4xl font-semibold">Solicitudes de Servicios</h1>
  <div
    class="max-h-[400px] rounded-lg h-full bg-gradient-to-b from-gray-200 to-transparent flex flex-col justify-between"
  >
    <app-recent-service-request></app-recent-service-request>
  </div>

  <div class="overflow-x-auto mt-5 px-6 pb-2 py-4 bg-white rounded-xl">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-2xl font-semibold flex gap-3.5 items-center">
        <span> Lista de Servicios </span>
        <button
          class="ml-2 hover:scale-105 px-3 py-2 rounded-lg transition duration-300 ease-in-out gap-3 bg-gradient-to-tl from-black to-[200%] to-white text-white flex items-center cursor-pointer"
        >
          <span class="text-base">Actualizar</span>
          <span>
            <app-refresh-icon />
          </span>
        </button>
      </h2>
      <div class="flex items-center gap-2">
        <div class="flex items-center border-b rounded-lg rounded-b-none">
          <input
            type="text"
            placeholder="Buscar..."
            class="px-4 py-2 min-w-sm focus:outline-none"
          />
          <button class="px-2">
            <app-search-icon />
          </button>
        </div>
      </div>
    </div>
    <div class="flex justify-center">
      <table class="w-full mt-5 bg-white rounded-xl">
        <thead class="text-gray-600 text-sm uppercase font-semibold">
          <tr>
            <th class="px-6 py-3 text-center"></th>
            <th class="px-6 py-3 text-center">Referencia</th>
            <th class="px-6 py-3 text-center">Estado</th>
            <th class="px-6 py-3 text-center">Fecha</th>
            <th class="px-6 py-3 text-center">Acciones</th>
          </tr>
        </thead>
        <tbody class="text-gray-600 text-base">
          @for (serviceRequest of serviceRequests(); track $index) {

          <tr class="border-b border-gray-200 text-center">
            <td
              class="px-6 py-6 whitespace-nowrap group overflow-hidden to-white"
            >
              <div class="bg-radial from-gray-400/90 rounded-lg">
                @if (serviceRequest?.vehicleType === "VAN"){
                <img
                  class="w-40 object-contain h-32 -translate-6 group-hover:translate-2 scale-150 transition aspect-square mx-auto"
                  src="renders/van-render.png"
                  alt=""
                />
                } @if (serviceRequest?.vehicleType === "BUS"){
                <img
                  class="w-40 object-contain h-32 -translate-6 group-hover:translate-2 scale-150 transition aspect-square mx-auto"
                  src="renders/bus-render.png"
                  alt=""
                />
                } @if (serviceRequest?.vehicleType === "AUTOMOVIL"){
                <img
                  class="w-40 object-contain h-32 -translate-6 group-hover:translate-2 scale-150 transition aspect-square mx-auto"
                  src="renders/automovil-render.png"
                  alt=""
                />
                }
              </div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              {{ serviceRequest?.nameReference }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <span
                class="px-3 py-1 rounded-full text-white text-sm font-semibold"
                [ngClass]="{
                  'bg-blue-500': serviceRequest?.status === 'PROCESSING',
                  'bg-green-500': serviceRequest?.status === 'ACCEPTED',
                  'bg-yellow-500': serviceRequest?.status === 'ARRIVING',
                  'bg-orange-500': serviceRequest?.status === 'IN_PROGRESS',
                  'bg-teal-500': serviceRequest?.status === 'COMPLETED',
                  'bg-red-500': serviceRequest?.status === 'AGENCY_CANCELED',
                  'bg-red-400': serviceRequest?.status === 'PROVIDER_CANCELED',
                  'bg-gray-500':
                    serviceRequest?.status === 'NO_PROVIDER_AVAILABLE',
                  'bg-gray-300': !serviceRequest?.status
                }"
              >
                {{
                  serviceRequest?.status === "PROCESSING"
                    ? "En Proceso"
                    : serviceRequest?.status === "ACCEPTED"
                    ? "Aceptado"
                    : serviceRequest?.status === "ARRIVING"
                    ? "En Camino"
                    : serviceRequest?.status === "IN_PROGRESS"
                    ? "En Progreso"
                    : serviceRequest?.status === "COMPLETED"
                    ? "Completado"
                    : serviceRequest?.status === "AGENCY_CANCELED"
                    ? "Cancelado por Agencia"
                    : serviceRequest?.status === "PROVIDER_CANCELED"
                    ? "Cancelado por Proveedor"
                    : serviceRequest?.status === "NO_PROVIDER_AVAILABLE"
                    ? "Sin Proveedor"
                    : "Estado Desconocido"
                }}
              </span>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              {{ serviceRequest?.date }}
            </td>
            <td
              class="px-6 py-4 whitespace-nowrap flex flex-row gap-4 justify-center h-[200px] items-center"
            >
              <a
                [routerLink]="['show', serviceRequest?.id]"
                class="text-white cursor-pointer w-full rounded-lg font-semibold bg-black px-5 py-2 text-base hover:bg-black/80 transition shadow"
              >
                Revisar
              </a>
              @if (serviceRequest?.status !== 'COMPLETED' &&
              serviceRequest?.status !== 'AGENCY_CANCELED' &&
              serviceRequest?.status !== 'PROVIDER_CANCELED') {
              <button
                class="text-black outline w-full shadow text-base hover:bg-gray-300 cursor-pointer rounded-lg font-semibold px-5 py-2 hover:brightness-110 transition"
              >
                Cancelar
              </button>
              }
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
