<div class="grid grid-cols-2 ">
    <!-- Left column for service request form -->
    <div class="w-2xl rounded-sm mx-auto py-4 px-10 flex flex-col gap-5">
        <h2 class="text-4xl border-b py-2.5 text-center border-gray-300 font-semibold">
            Buscar Tarifas de Transporte
        </h2>

        <form class="flex flex-col gap-5">
            <div class="flex flex-col gap-4 ">
                @for (tariff of tariffsRequest; track $index) {
                <label class="flex flex-row gap-4 items-center bg-white shadow-md rounded-lg p-4 hover:shadow-lg transition-shadow cursor-pointer border border-gray-200
                    peer-checked:bg-black peer-checked:text-white">
                    <div class="flex-1">
                        <h3 class="font-semibold text-lg mb-1">Tarifa {{ $index + 1 }}</h3>
                        <p class="text-gray-600">Proveedor: <span class="font-medium">{{
                                tariffOperations.getTariffProviderId(tariff)?.name }}</span></p>
                        <p class="text-gray-700">Precio: <span class="font-semibold">{{ tariff.price | currency
                                }}</span></p>
                    </div>
                    <input type="checkbox" (change)="handleTariffsSelection(tariff)" name="tariff-{{ $index }}"
                        id="tariff-{{ $index }}" class="accent-black w-5 h-5 peer hidden">
                    <span
                        class="w-5 h-5 border border-black rounded flex items-center justify-center bg-white peer-checked:bg-black peer-checked:text-white">
                        @if (selectedTariffs.has(tariff)) {
                        <svg class="w-4 h-4" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                        </svg>
                        }
                    </span>
                </label>
                }
            </div>
        </form>
    </div>
</div>