<main class="w-full max-w-4xl mx-auto h-screen bg-black/90 text-white">
  <div class="pt-5 grid grid-cols-1 grid-rows-[1fr_auto] h-screen">
    <main class="flex px-16 py-6 flex-col gap-3 mb-6">
      <div class="">
        <h2 class="text-4xl text-center mb-5">
          Bienvenido a <span class="font-bold">IzyTracking</span>.
        </h2>

        <p class="text-pretty text-lg text-center mb-5">
          <b>IzyTracking</b> es la plataforma ideal para gestionar la logística
          de tus viajes de manera eficiente. Proporciona tus datos para poder
          acceder al panel de control.
        </p>
      </div>
      <router-outlet></router-outlet>
      <p class="text-center text-gray-500 text-sm mt-5">
        © 2023 IzyTracking. Todos los derechos reservados.
      </p>
    </main>

    <footer class="relative">
      <img
        src="auth-image-001.png"
        class="absolute bottom-0 h-[300px] w-full object-cover [object-position:50%_36%]"
        alt=""
      />
    </footer>
  </div>
</main>
